asgiref==3.8.1
billiard==4.2.1
celery==5.4.0
dj-database-url==2.2.0
Django>=4.1,<5.0
django-celery-beat==2.7.0
django-environ==0.11.2
django-timezone-field==7.0
html5lib==1.1
multitasking==0.0.11
psycopg2-binary==2.9.9
requests==2.32.3
yfinance==0.2.43  
                     
            

