<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One|chart.in</title>
</head>
<body>
     {% for stock in singleLine %}
       <div>
           <h3>{{ stock.stockCode }}</h3>
           <h3>{{ stock.current_price|floatformat:2 }}</h3>
       </div>
       <div>
        <a href="{% url 'stock' stock.stockCode  %}">
            <img src="{{ stock.singleLine }}" alt="{{ stock.companyName }}" style="width: 200px; height: 200px;">
        </a>
        </div>
    {% endfor %}
</body>
</html>