<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One|chart.in</title>
</head>
<body>
    <form action="{% url 'input-data' %}" method="get">
        <button type="submit">Add Stock</button>
    </form>
    
    <h2>singleLine</h2>
        {% for stock in stocks %}
        <div>
            <li>{{ stock.stockCode }}</li>
        </div>
        <div>
            <img src={{stock.singleLine}} alt="chart" style='height: 250px' >
        </div>
        {% endfor %}
</body>
</html>