<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
</head>
<body>
<h3>Single Stock</h3>
    <ul>


        <div>
            <li>{{ stock.stockCode }}</li>
            <li>{{ stock.companyName }}</li>
            <li>{{ stock.industry }}</li>
            <li>{{ stock.sector }}</li>
            <li>{{ stock.website }}</li>
            <li>{{ stock.current_price|floatformat:2 }}</li>
            <li>{{ stock.last_updated }}</li>
            <!-- <li>{{ stock.balance_sheet|safe }}</li>
            <li>{{ stock.about }}</li> -->

        </div>
        <div>
            <img src={{stock.singleLine}} alt="chart" style='height: 250px'>
            <img src={{stock.upTrend}} alt="chart" style='height: 250px' >
            <img src={{stock.downTrend}} alt="chart" style='height: 250px' >
            <img src={{stock.lineTouch}} alt="chart" style='height: 250px' >
            <img src={{stock.lineCross}} alt="chart" style='height: 250px' >
        
            
        </div>
<div>{{ stock.previousClos }}</div>
    </ul>

</body>
</html>
