<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
        {% include 'navbar/navbar.html' %}
<h3>Single Stock</h3>
    <ul>


        <div>
            <li>{{ stock.stockCode }}</li>
            <li>{{ stock.companyName }}</li>
            <li>{{ stock.industry }}</li>
            <li>{{ stock.sector }}</li>
            <li>{{ stock.website }}</li>
            <li>{{ stock.current_price|floatformat:2 }}</li>
            <li>{{ stock.last_updated }}</li>
            <li>{{ stock.previousClose }}</li>
            <!-- <li>{{ stock.balance_sheet|safe }}</li>
            <li>{{ stock.about }}</li> -->

        </div>
        <div>
            <img src={{stock.singleLine}} alt="chart" style='height: 250px'>
            <img src={{stock.upTrend}} alt="chart" style='height: 250px' >
            <img src={{stock.downTrend}} alt="chart" style='height: 250px' >
            <img src={{stock.lineTouch}} alt="chart" style='height: 250px' >
            <img src={{stock.lineCross}} alt="chart" style='height: 250px' >
        
            
        </div>
    </ul>
