<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
</head>
<body>
    <h1>Success</h1>
    <form action="{% url 'input-data' %}" method="get">
        <button type="submit">Add Stock</button>
    </form>
    <h2>Stock List</h2>
    <ul>
 
        {% for stock in stocks %}
        <div>
            <li>{{ stock.stockCode }}</li>
            <li>{{ stock.companyName }}</li>
            <li>{{ stock.industry }}</li>
            <li>{{ stock.sector }}</li>
            <li>{{ stock.website }}</li>
            <!-- <li>{{ stock.about }}</li> -->
        </div>
        <div>
            <img src={{stock.singleLine}} alt="chart" style='height: 250px'>
            <img src={{stock.upTrend}} alt="chart" style='height: 250px' >
            <img src={{stock.downTrend}} alt="chart" style='height: 250px' >
            <img src={{stock.lineTouch}} alt="chart" style='height: 250px' >
            <img src={{stock.lineCross}} alt="chart" style='height: 250px' >
            
        </div>
        {% endfor %}

    </ul>
</body>
</html>
